[tool.poetry]
name = "telegrinder"
version = "0.1.dev20"
description = "async telegram bot building"
authors = ["timoniq <tesseradecades@mail.ru>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.11"
aiohttp = "^3.8.1"
vbml = "^1.1.post1"
choicelib = "^0.1.5"
envparse = "^0.2.0"
PyYAML = "^6.0"
certifi = "^2022.6.15"
msgspec = "^0.18.4"
requests = "^2.28.1"
typing-extensions = "^4.8.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 100
target-version = "py311"
select = ["I", "N", "ANN", "COM", "YTT", "TCH", "SIM"]
ignore = [
    "ANN001", "ANN002", "ANN003", "ANN101", "ANN102", "ANN201", "ANN202",
    "ANN204", "ANN206", "ANN401", "COM812", "TCH001", "TCH004"
]

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401", "F403"]

[tool.ruff.flake8-quotes]
docstring-quotes = "double"