[build-system]
requires = ["poetry-core>=2.0.0"]
build-backend = "poetry.core.masonry.api"

[project]
requires-python = ">=3.12,<3.13"
name = "telegrinder"
version = "0.4.dev1"
description = "Modern visionary telegram bot framework."
authors = [
  {name = "timoniq", email = "tesseradecades@mail.ru"}
]
maintainers = [
  {name = "luwqz1", email = "howluwqz1@gmail.com"}
]
license = { file = "LICENSE" }
readme = "readme.md"
keywords = [
  "asyncio",
  "api schema",
  "async",
  "bot building",
  "bot api",
  "custom rules",
  "telegram",
  "telegram bot api framework",
  "telegrinder framework",
  "middleware",
  "composition",
  "framework",
  "telegrinder",
  "waiter machine"
]
classifiers = [
  "Environment :: Console",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
  "Typing :: Typed",
]
dependencies = [
    "aiohttp (>=3.11.11,<4.0.0)",
    "colorama (>=0.4.6,<0.5.0)",
    "vbml (>=1.1.post1,<2.0)",
    "choicelib (>=0.1.5,<0.2.0)",
    "envparse (>=0.2.0,<0.3.0)",
    "pyyaml (>=6.0.2,<7.0.0)",
    "certifi (>=2024.12.14,<2025.0.0)",
    "msgspec (>=0.19.0,<0.20.0)",
    "typing-extensions (>=4.12.2,<5.0.0)",
    "fntypes (>=0.1.4.post3,<0.2.0)"
]

[project.urls]
Source = "https://github.com/timoniq/telegrinder"
"Bug Tracker" = "https://github.com/timoniq/telegrinder/issues"
Documentation = "https://telegrinder.readthedocs.io/en/latest/"

[project.optional-dependencies]
all = [
  "aiosonic >= 0.22.0",
  "uvloop >= 0.21.0",
  "loguru >= 0.7.0"
]
fast = [
  "aiosonic >= 0.22.0",
  "uvloop >= 0.21.0"
]
aiosonic = [
  "aiosonic >= 0.22.0"
]
uvloop = [
  "uvloop >= 0.21.0"
]
loguru = [
  "loguru >= 0.7.0"
]

[tool.poetry]
package-mode = true

[tool.poetry.group.dev.dependencies]
pre-commit = ">=3.8,<5.0"
ruff = "^0.9.1"
basedpyright = "^1.23.2"
requests = "^2.28.1"
sort-all = "^1.2.0"
libcst = "^1.4.0"
pytest = "^8.0.0"
pytest-asyncio = ">=0.23.5,<0.26.0"
pytest-cov = ">=5,<7"
pytest-mock = "^3.10.0"

[tool.ruff]
line-length = 115
target-version = "py312"

[tool.ruff.format]
quote-style = "double"
docstring-code-line-length = "dynamic"

[tool.ruff.lint]
select = [
  "I",
  "D",
  "N",
  "PLR",
  "Q",
  "COM",
  "TC",
  "YTT",
  "SIM"
]
ignore = [
  "COM812",
  "N805",
  "N818",
  "TC001",
  "TC002",
  "TC003",
  "TC004",
  "D100",
  "D101",
  "D102",
  "D103",
  "D104",
  "D105",
  "D107",
  "D202",
  "D203",
  "D205",
  "D209",
  "D211",
  "D213",
  "D400",
  "D401",
  "D404",
  "D415",
  "PLR2004",
  "PLR0911",
  "PLR0912",
  "PLR0913"
]
fixable = ["ALL"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]
"typegen/**.py" = ["N802"]

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"

[tool.pyright]
exclude = [
  "**/__pycache__",
  "docs",
  "local",
  "telegrinder/client/sonic.py"
]
typeCheckingMode = "basic"
pythonPlatform = "All"
pythonVersion = "3.12"
reportMissingImports = true
reportMissingTypeStubs = false
