[tool.poetry]
name = "telegrinder"
version = "0.1.dev16"
description = "async telegram bot building"
authors = ["timoniq <tesseradecades@mail.ru>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
aiohttp = "^3.8.1"
vbml = "^1.1.post1"
choicelib = "^0.1.5"
envparse = "^0.2.0"
PyYAML = "^6.0"
certifi = "^2022.6.15"
msgspec = "^0.9.0"
requests = "^2.28.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
