Hello, {{ user.first_name }}!<br>
<br>
This is a helper bot, I sit in chat and help admins!<br>
<br>
Bot commands:<br>
/start — Hello message<br>
/help — Help reference<br>
/ban — Ban a user in chat<br>
/kick — Kick a user from chat<br>
/mute — Mute a user in chat<br>
/stats — Chat statistics<br>
/adminlist — List of administrators in chat