name: Lint and test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v4
        - name: Set up CPython 3.11
          uses: actions/setup-python@v5
          with:
            python-version: "3.11"

        - name: Install poetry
          run: >
            python3 -m pip install --upgrade pip setuptools wheel
            python3 -m pip install --user pipx
            python3 -m pipx install poetry

        - name: Poetry check structure
          run: >
            poetry check

        - name: Install depends
          run: >
            poetry install

        - name: Lint code with ruff
          run: >
            poetry run ruff check . --fix

        - name: Check types with basedpyright
          run: >
            poetry run basedpyright . --level ERROR

        # NOTE: add run tests
